[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
django = "*"
faker = "*"
pillow = "*"
drf-yasg = "*"
dotenv = "*"
celery = {extras = ["redis"], version = "*"}
django-celery-results = "*"
redis = "*"

[dev-packages]

[requires]
python_version = "3.13"
